* {
	margin: 0 auto;
	padding: 0;
}

body{}

h1,h2,h3,p,a,li{
	font-family: 'Ubuntu';
	color:#020000;
}

img{border:none;}

a{text-decoration: none;}

.bold{
	font-weight: bold;
}

#wrapper_mastah{
	width:800px;
	height: auto;
	
	clear:both;
	margin-top:50px;
}

/*LOGO*/

#header{
	width: 800px;
	height:150px;
	text-align: center;
}

#face_teaser{
	margin:0 auto;
}

#logo_header{
	width:117px;
	height:117px;
	margin:0 auto;
	margin:35px 0 0 40px;
}

#main_nav{
	float:right;
	margin-top:112px;
}

#main_nav ul{
	list-style: none;
}

#main_nav ul li a, ul li{
	font-family: 'Ubuntu Condensed', sans-serif;
	float:left;
	font-size: 22px;
	color :#282828;
	margin-left:7px;
	padding:5px;
}

#main_nav ul li a:hover, .main_nav_active{
	display:block;
	background: #000000;
	color:#ffffff !important;
	/*transform: skewX(170deg);*/
}

#content{
	width:100%;
	height:auto;
	overflow: hidden;
}

#footer{
	width:800px;
	height:70px;
	clear:both;
	margin-top:50px 0px;
	font-size: 12px;
	color:#444444;
	top:100px;
	position: relative;;
}

#footer>#copyright{
	float:left;
	text-align: left;
}
#footer>#online{
	float:right;
	text-align: left;
}
.social_footer{
	float:right;
	margin-left:10px;
}
#footer>nav{
	float:left;
	clear:both;
}
#footer>nav>ul{
	list-style: none;
	margin-left: -10px;
}
#footer>nav>ul>li, #footer>nav>ul>li a{
	float:left;
	color:#444444;
	margin-right: 10px !important;
	font-size: 12px;
}


/*
	CONTACTO
*/

#contacto_wrapper{
	position: absolute;
	z-index: 9999;
	top:-380px;
	width:100%;
	height:auto;
}

#contacto{
	width:100%;
	height:380px;
	top: 38px;
	position: relative;
}

#contacto_inner{
	width:800px;
	height: 100%;
	margin:0 auto;
}

#contacto_inner > div.left{
	width:80%;
	float:left;
	position: relative;
	margin-left: -42px;
}

#contacto_inner > div.left > h3{
	font-size: 33px;
	float:left;
	font-weight: lighter;
	margin:13px 0 20px 0;
}

#contacto_inner > div.left > p.contacto{
	display: block;
    float: left;
    font-size: 13px;
    font-weight: lighter;
    width: 280px;
}

#contacto_inner > div.left > p.back_black_1{
	clear: left;
    float: left;
    height: 28px;
    margin-top: 14px;
    width: 266px;
}

#contacto_inner > div.left > form#helloworld{
	top: 78px;
    float: left;
    height: auto;
    margin-left: 86px;
    position: absolute;
    right: 97px;
    width: 217px;
}

#helloworld > input[type=text], textarea{
	width:100%;
	background: #EFF2F4;
	border:1px solid #282828;
	margin-bottom: 10px;
	text-indent: 5px;
}

#helloworld > input[type=text]{
	height:25px;
}

#helloworld > textarea{
	height:110px;
}

#helloworld > input[type=submit]{
	padding:5px;
	border:none;
	background: #282828;
	color:#ffffff;
	font-size: 12px;
	float:right;
}

#contacto_inner > div.right{
	width:26%;
	float:right;
}

#contacto_inner > div.right > img{
	position: absolute;
	bottom:31px;
}

#contacto_tab_wrapper{
	width:800px;
	height:27px;
	margin:0 auto;
}

#contacto_tab{
	display: block;
	width:169px;
	height:27px;
	float:right;
	clear:both;
	color:#ffffff;
	text-align: center;
}

#contacto_tab.open{
	background: url(../imgs/public/layout/go_contact.png) right no-repeat;
}

#contacto_tab.close{
	background: url(../imgs/public/layout/close_contact.png) right no-repeat;
}

#contacto_tab span{
	/*margin-right: 45px;*/
	width: 100%;
	text-align: center;
}


/*
GENERIC FONTS
*/

h1.generic{
	font-weight: lighter;
	font-size: 54px;
	clear:both;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

h2.generic{
	font-weight: lighter;
	font-size: 42px;
	width:100%;
	text-align: center;
}

.back_black_1{
	font-size: 23px;
	color:#ffffff;
	font-weight: lighter;
	padding:10px;
	background: #020000;
	margin:0 auto;
	display: block;
}

#intro{
	
	width:100%;
	height:auto;
	padding:20px 0 20px 0;
}

/*
HOME
*/

#devices{
	width:100%;
	height:239px;
	position: relative;
	text-align: center;
}

#devices > #imac{
    position: absolute;
    /*left: 59px;
    top: 25px;*/
    left: -559px;
    top: -200px;
    opacity:0;
}

#devices > #macbook{
	position: absolute;
	z-index: 100;
	/*left: 73px;
    top: 241px;*/
    left: -373px;
    top: 541px;
    opacity:0;
}

#devices > #ipad{
    position: absolute;
    z-index: 100;
    /*right: 88px;
    top: 183px;*/
    right: -505px;
    top: -850px;
    opacity:1;
}

#devices > #iphone{
    position: absolute;
    z-index: 120;
    /*right: 78px;
    top: 317px;*/
    right: -278px;
    top: 500px;
}

/*others home*/

.back_black_1.sub_1{
	width:800px;
	margin-bottom: 10px;
}

.back_black_1.servicios{
	width:286px;
	font-size: 17px !important;
	margin-bottom: 50px;
}

.home_2_cols{
	font-size: 24px;
	font-weight: lighter;
	text-align: left;
	float:right;
	width:454px;
}

.home_2_cols.first{
	width:435px !important;
	float:left !important;
}
/*
	SOMOS
*/

#somos_intro{
	background:#EFF2F4;
	width:100%;
	height:auto;
	padding:20px 0 20px 0;
}

#somos_intro h1.generic{
	font-size: 42px !important;
}

#somos_intro h1.generic > span.bold{
	font-size: 50px !important;
}

#somos_intro p{
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
}

#somos h2.generic{
	font-size: 42px !important;
	margin:20px 0 40px 0;
}

#somos img.nosotros{
	margin:0 0 15px 35px;
}

#somos ul.somos, #somos ul.bios{
	list-style: none;
}

#somos ul.somos li{
	float:left;
	display: block;
	height:42px;
	color:#ffffff;
	font-size: 32px;
	padding:5px;
	background: #000000;
	cursor:pointer;
	pointer-events: auto;
}

ul.somos li#daniel{
	margin-left:120px;
}

ul.somos li#kiwi{
	margin-left: 124px;
}
ul.somos li#raul{
	margin-left: 145px;
}
ul.somos li#keka{
	margin-left: 125px;
}


#somos ul.bios li{
	font-size: 12px;
	width:235px;
	float:left;
	margin-top: 20px;
}

ul.bios li#daniel_bio{
	margin-left:42px;
	opacity: 0;
}

ul.bios li#kiwi_bio{
	margin-left: -25px;
	opacity: 0;
}
ul.bios li#raul_bio{
	margin-left: -18px;
	opacity: 0;
}
ul.bios li#keka_bio{
	margin-left: -54px;
	opacity: 0;
}

/*HACEMOS*/

.hacemos_intro > .circles{
	float:right;
}

.hacemos_intro > h1.generic{
	float: left;
    font-size: 29px;
    margin-left: 20px;
    margin-top: 90px;
    text-align: left;
    width: 570px !important;
    line-height: 48px;
}

.hacemos_intro > h1.generic > span{
	padding:2px;
	background: #000000;
}

span#tecnologia{
	color:#72B4F1;
	width: 175px;
}

span#creatividad{
	color:#EEA753;
	width: 178px;
}

span#estrategia{
	color:#E83030;
	width: 163px
}

span#exito{
	color:#52DB68;
	width: 272px;
}

.hacemos_intro > h2.generic{
	font-size: 25px;
	font-style: italic;
	float:left;
	text-align: left;
	text-indent: 20px;
	margin-top: -40px;
}

#hacemos h2.generic{
	font-size: 42px !important;
	margin:20px 0 40px 0;
}

.hacemos_col{
	width:180px;
	height:auto;
	overflow: hidden;
	float:left;
	margin-left: 20px;
	text-align: center;
}

.hacemos_col h3{
	font-size: 25px;
	width: 100%;
	display: block;
	text-align: center;
	font-weight: lighter !important;
}

.hacemos_col img{
	margin:0 auto;
	margin-top: 38px;
}

.hacemos_col img.apps{
	margin-top: 10px !important;
}

.hacemos_col > ul.hacemos_list{
	list-style: none;
	margin-top: 20px;
}

.hacemos_col > ul.hacemos_list  li{
	font-family: 'Ubuntu';
	font-size: 12px;
	color:#ffffff;
	background: #000000;
	display: block;
	padding:5px;
	clear:both;
	margin-top: 3px !important;
	text-align: left;
}

.hacemos_list.estrategias{
	margin-top: 10px !important;
}

.hacemos_list.sistemas{
	margin-top: 27px !important;
}

.hacemos_list.web{
	margin-top: 53px !important;
}

/*
portafolio
*/

#portafolio > h1.generic{
	font-size: 35px;
}

/*
ACA CAMBIA CADA QUE METAMOS A PORTA
*/

ul#porta_list{
	list-style: none;
	margin-left: 17px;
}

ul#porta_list li a{
	display: block;
	width: 143px;
	height: 20px;
	text-align: center;
	float:left;
	font-size: 12px;
	font-family: 'Ubuntu';
	font-weight: lighter;
	-webkit-transition: background-color 500ms linear;
     -moz-transition: background-color 500ms linear;
     -o-transition: background-color 500ms linear;
     -ms-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
}
ul#porta_list li{
	-webkit-transition: background-color 500ms linear;
     -moz-transition: background-color 500ms linear;
     -o-transition: background-color 500ms linear;
     -ms-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
     cursor:pointer;
}
ul#porta_list li{
	border-right: 1px solid #D3D3D3;
	margin-left: 1px;
}
ul#porta_list li:first-child{
	border-left: 1px solid #D3D3D3;
	margin-left: 0 !important;
}

ul#porta_list li.active, ul#porta_list li:hover{
	background: #000000;
	-webkit-transition: background-color 500ms linear;
     -moz-transition: background-color 500ms linear;
     -o-transition: background-color 500ms linear;
     -ms-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
}
ul#porta_list li.active > a, ul#porta_list li:hover > a{
	color:#ffffff;
	-webkit-transition: background-color 500ms linear;
     -moz-transition: background-color 500ms linear;
     -o-transition: background-color 500ms linear;
     -ms-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
}


ul#porta_thumbs{
	list-style: none;
	margin-left: 17px;
	position: relative;
	z-index: 999;
	bottom: 130px;
}

ul#porta_thumbs li{
	width: 143px;
	height: 90px;
	display: block;
	background: #000000;
	text-align: center;
	float:left;
	margin-left: 2px;
	opacity: 0;
}

ul#porta_thumbs li > img{
	width: 90%;
}


.cliente_col{
	width:220px;
	height:auto;
	float:left;
	margin-left: 10px;
	text-align: center;
	height:85px;
	position: relative;
}

.clientes_logo_over {
	position: absolute;
	z-index: 99;
	display: none;
	top: 0;
	left: 0;
}
.clientes_logo{
	position: relative;	
}