/* ------------------------------------------------------------------------
	IMPLEMENTATION
	
	// Single pop
	
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$('a[rel*=facebox]').facebox();
		});
	</script>	
	<a href="#localizador" rel="facebox">
		Abre FaceBox
	</a>	
	<div id="localizador" style="display:none;">
		Contenido del FaceBox
	</div>
	
	SITE REFERENCE	
		http://famspam.com/facebox
	

------------------------------------------------------------------------- */
#facebox .b {
  background:url(/img/facebox/b.png);
}

#facebox a{
	color: #000;
}

#facebox .tl {
  background:url(/img/facebox/tl.png);
}

#facebox .tr {
  background:url(/img/facebox/tr.png);
}

#facebox .bl {
  background:url(/img/facebox/bl.png);
}

#facebox .br {
  background:url(/img/facebox/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
  width:auto;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
  height:10px;
  text-align: left;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 300px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}