* {
	margin: 0 auto;
	padding: 0;
}
label, h1, h2, h3, h4, a, p {
	font-family: Helvetica, arial
}
a {
	text-decoration: none;
}
.bodylogin {
	text-align: center;
}
img {
	border: none;
}
#logo_login {
	width: 280px;
	margin-top: 200px;
}
#label_login, #label_login_error {
	font-family: helvetica, arial;
	font-size: 20px;
	font-weight: bolder;
	color: #CCCCCC;
	margin: 0 auto;
	margin-bottom: 20px;
}
#label_login_error {
	color: #f40909 !important;
}
#form_login {
	width: 300px;
	height: 130px;
	display: block;
	margin: 0 auto;
	background: #4C4C4C;
	padding: 20px;
}
#form_login input {
	width: 180px;
	float: right;
	margin-right: 10px;
}
#form_login label {
	float: left;
	margin-left: 10px;
	color: #ffffff;
}
.btnLogin {
	float: right;
	margin-right: 10px;
}/*LAYOUT*/
#logo {
	width: 150px;
	float: left;
	margin: 10px 0 0 70px;
	display: block;
}
#logo-inweb {
	width: 130px;
	float: right;
	margin: 10px 70px 0;
}
.body {
	background: #F6F6F6;
}
#master_wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #F6F6F6;
}
#sidebar {
	width: 230px;
	height: auto;	/*background:/*url(../imgs/admin/bg-sidebar.gif) repeat #2B2B2B;*/
	background: #2B2B2B;
	float: left;
	position: fixed;
	min-height: 100%;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #888888;
}
#cliente {
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin: 45px 0 45px 0;
}
#perfil {
	padding: 0 15px 20px 15px;
	text-align: right;
	line-height: 1.5em;
}
#perfil a {
	color: #cccccc;
	text-decoration: none;
}
#perfil a:hover, #perfil a:active {
	color: #ffffff;
}
#main_nav {
	width: 100%;
	height: auto;
	float: right;
	text-align: right;
}
#main_nav ul {
	list-style: none;
	text-align: right;
}
#main_nav li a {
	text-decoration: none;
	width: 205px;
	height: 33px;
	display: block;
	background: url(../../imgs/admin/nav-seccion.png) right no-repeat;
	margin: 10px 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	line-height: 33px;
	float: right;
	padding-right: 15px;
}
.main_nav_active {
	background: url(../../imgs/admin/nav-seccion_over.png) right no-repeat !important;
	color: #000000 !important;
}
ul.sub_nav {
	list-style: none;
	text-align: right;
	display: none;
}
ul.sub_nav_activee {
	list-style: none;
	text-align: right;
	display: block;
}
li a.sub_nav {
	text-decoration: none !important;
	width: 205px !important;
	height: 33px !important;
	display: block !important;
	margin: -10px 0 2px 0 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	font-weight: bold;
	float: right !important;
	padding-right: 15px !important;
	background: none !important;
	color: #AAAAAA !important;
}
.sub_nav_active {
	text-decoration: none !important;
	width: 205px !important;
	height: 33px !important;
	display: block !important;
	margin: -10px 0 2px 0 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	font-weight: bold;
	float: right !important;
	padding-right: 15px !important;
	background: url(../../imgs/admin/sub-nav_active.png) right no-repeat !important;
	color: #ffffff !important;
}
#copyright {
	position: absolute;
	bottom: 5px;
	left: 20px;
	font-family: arial;
	font-size: 11px;
}
#content {
	height: auto;	/*position: absolute;
	 left: 230px;
	 top: 0;*/
	margin: 0 30px 0 230px;
	padding: 40px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left !important;
}
.titulo_pag {
	font-size: 24px;
	color: #000000;
	float: left;
	margin: 0 0 10px 32px;
}

.lista1{
	list-style:none;
 	margin: 0 0 10px 32px;
 	clear:both;
}

.subtitulo_pag {
	font-size: 17px;
	color: #555555;
	float: left;
	margin: 0 0 30px 32px;
	clear: both;
}
.clear {
	clear: both;
}
.content-box {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 0 0 20px;
	margin-left: 32px;	/*overflow:hidden;
	 height:auto;*/
}
.content-box-header {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #E5E5E5 url('../images/bg-content-box.gif') top left repeat-x;
	margin-top: 1px;
	height: 40px;
}
.content-box-header h4 {
	padding: 12px 15px 10px;
	float: left;
	color: #222222;
	font-size: 17px;
}
.content-box table {
	width: 100%;
	border-spacing: 0;
}
.content-box table thead, .content-box table th {
	font-weight: bold;
	font-size: 15px;
	padding: 10px;
	border-bottom: 1px solid #DDD;
}
.content-box table tr.alt-row {
	background: #F3F3F3;
}
.content-box table td {
	padding: 10px;
	line-height: 1.3em;
}
.content-box form {
	padding: 10px;
}
.action-icon {
	width: 16px;
}/* FORMULARIOS * */
form p {
	margin-bottom: 10px;
}
form label {
	display: block;
	padding: 0 0 10px;
	font-weight: bold;
	clear: both;
}
form fieldset legend {
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 10px;
}
form p small {
	font-size: 0.75em;
	color: #777;
}
form input.text-input, form select, form textarea, form .wysiwyg {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 6px;
	font-size: 13px;
	background: #fff url('../images/bg-form-field.gif') top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
}
form .small-input {
	width: 25% !important;
}
form .medium-input {
	width: 50% !important;
}
form .large-input {
	width: 70% !important;
	font-size: 16px !important;
	padding: 8px !important;
}
form textarea {
	width: 97.5% !important;
	font-family: Arial, Helvetica, sans-serif;
}
form select {
	padding: 4px;
	background: #fff;
}
form input[type="checkbox"], form input[type="radio"] {
	padding: 0;
	background: none;
	border: 0;
}
.button {
	background: url(../../imgs/admin/btn_bg.png) repeat-x scroll left top #356A9F !important;
	border: 1px solid #356A9F !important;
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px !important;
	padding: 4px 7px !important;
}/*Dashboard*/
#shortcuts {
	width: 100%;
	height: auto;
	margin: 10px 0 50px 32px;
}
a.shortcut-btn {
	background: url("../../imgs/admin/shortcut-button-bg.gif") no-repeat scroll left top #F7F7F7;
	border: 1px solid #CCCCCC;
	display: block;
	margin: 0 0 20px;
	width: 120px;
	float: left;
	margin-right: 20px;
}
a.shortcut-btn:hover {
	color: #3B75AF !important;
	background: #ffffff !important;
}
span.shortcut-btn {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #FFFFFF;
	color: #555555;
	display: block;
	font-size: 13px;
	line-height: 1.3em;
	padding: 15px 10px;
	text-align: center;
}


/*nueva cita*/
div#newClientContainer{
	position: relative;
}

div#newDateContainer{
	position: relative;
}

div#newDateForm{
    margin: auto;
    color: #333;
    width: 600px;
    font-family: Helvetica, Arial;        
}

div#newDateForm form{
    margin: auto;
    font-family: Helvetica, Arial;
}

div#newDateForm form span select{
    width: 250px !important;
    display: block !important;
}

#ui-datepicker-div
{
    z-index: 1102 !important;
}
