
/*
Design by Inweb Lab
http://inweb.mx/

VERDE
main #54D394 highlight;

GRISES 
	main: #565656;
	over: #777676;

ADD
	main: #32AD6F
	over: #17C46B

CANCEL
	main: #E83030;
	over: #F74545;
*/

*{
	margin: 0 auto;
	padding: 0;	
}*

body {
	background: #F2EFEF;
	font-family: arial;
	color: #808184;
	margin: 0px;	
	font-size: 12px;
}

img{
	border: none;
}

a{
	text-decoration: none;
	color:#54D394;
	font-weight: bold;
}

a:hover{
	color:#17C46B;
}

/*LOGIN FORM*/

.bodylogin{
	text-align: center;
}

.bodylogin > p{
	margin:20px 0 20px 0;
}

#logo_login{
	margin:0 auto;
	position: relative;
	margin-top: 150px;
}

#form_login > input.login_input{
	border: 2px solid #cccccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  
	/*-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;*/

	outline: 0;
	-webkit-appearance: none;
	height:30px;
	width:200px;
	text-indent: 31px;
	color:#848484;
}

#form_login > input.login_input:focus{
	border-color: #43A0E8;
}

#form_login > input#usuario{
	background: url(../../imgs/admin/icons/16x16/user.png) 10px 7px no-repeat;
}

#form_login > input#password{
	background: url(../../imgs/admin/icons/16x16/key.png) 10px 7px no-repeat;
}

#form_login > input[type=submit]{
	border:none;
	background: #43A0E8;
	color:#ffffff;
	width: 200px;
	height:30px;
	font-size: 15px;
}

/*APP*/

#header{
	width:98%;
	height:50px;
	background: #565656;
	margin:0 auto;
	border: 2px solid #565656;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top:20px;
}

#header p#welcome{
	font-size: 13px;
	color:#ffffff;
	margin-left: 20px;
	margin-top: 10px;
	width:200px;
	display: block;
	float:left;
}

#header p#user{
	font-size: 15px;
	color:#ffffff;
	margin: 2px 0 0 20px;
	width:200px;
	display: block;
	float:left;
	clear:left;
}

#header h1#title{
	color: #FFFFFF;
    font-size: 27px;
    margin: 12px 0 0 1px;
    position: relative;
    left:64px;
}
nav.nav{
	width:14%;
	height:auto;
	position: relative;
	float:left;
	margin-left: 1%;
}

#main_nav{
	margin-top: 20px;
}

.box-head{
	width:100%;
	height:40px;
	background: #54D394;

	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;

	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;

	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color:#ffffff;
	line-height: 40px;
}


ul.nav{
	list-style: none;
}

ul.nav li a, ul.nav li{
	display: block;
	width:100%;
	height:35px;
	background: #565656;
	font-size: 14px;
	color:#ffffff;
	text-indent: 30px;
	line-height: 35px;
}

ul.nav li.sub{
	display: none;
}

ul.nav li.gosub{
	cursor:pointer;
}

ul.nav li ul li, ul.nav li ul li a{
	text-indent: 40px;
}

ul.nav li ul li ul li, ul.nav li ul li ul li a{
	text-indent: 60px;
}

ul.nav li.gosub:hover, ul.nav li.gosub.active, ul.nav li a:hover, ul.nav li a.active{
	background: #777676;
}

#wrapper{
	width:83%;
	height:500px;
	float:left;
	margin-left: 1%;
	margin-top:20px;
}

.box{
	text-align: left !important;
	text-indent: 2%;
}

.box-content{
	width:96%;
	height:auto;
	overflow: hidden;
	background: #F7F7F7;
	padding:20px 2% 2% 2%;
}

#wrapper > div.box-head-box{
	font-size: 25px !important;
}


h2.sub{
	font-size: 20px;
	color:#565656;
	float:left;
		
	margin-top:15px;
	margin-bottom: 15px;
	clear:both;
	width:100%;
	display: block;
}

.clear{
	width:100%;
	height:1px;
	clear:both;
}

ul.actions{
	list-style: none;
	clear:both;
	margin-bottom: 5%;
	position: relative;
}

ul.actions li a{
	display: block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #777676;
	min-width: 10%;
	width:auto;
	padding:5px;
	height:50px;
	float:left;
	margin-right: 0.5%;
	color:#ffffff;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

ul.actions li a:hover, ul.actions li a.active{
	background:#54D394;
}

.add{
	background: #32AD6F !important;
}

.add:hover{
	background: #17C46B !important;
}

/*
	GRIDS
*/

table.grid_gen{
	width:100%;
	clear:both;
	padding-top: 3%;
}

table.grid_gen th{
	text-align: center;
	font-size: 13px;
	color:#ffffff;
	background: #565656;
}

table.grid_gen td{
	text-align: center;
	font-size: 15px;
	height: 20px;
}

table.grid_gen td.left{
	text-align: left !important;
}

table.grid_gen > tbody > tr:hover{
	background: #F2EFEF;
}

/*
	FORMS
*/

form.fancy{
	width:100%;
	height:auto;
	overflow: hidden;
	clear:both;
}

form.fancy input[type=text], input[type=password].internal, select, textarea{
	width:40%;
	height:30px;
	float:left;
	position: relative;
	margin-right: 5%;
	margin-bottom: 1%;

	border: 2px solid #cccccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  
	/*-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;*/

	outline: 0;
	-webkit-appearance: none;
	text-indent: 2%;
	color:#848484;
	line-height: 30px;
}

select.fancy{
	text-indent: 2px !important;
	display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

form.fancy textarea{
	height:80px;
	line-height: 20px;
}

form.fancy input[type=text]:focus, select:focus, textarea:focus{
	border-color: #54D394 !important;	
}

form.fancy input[type=submit], a.cancel, a.editar, a.other_action{
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width:12%;
	height:50px;
	float:left;
	color:#ffffff;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	clear:left;
	background: #32AD6F;
	cursor: pointer;
}

form.fancy input[type=submit]:hover{
	background: #17C46B !important;
}

a.other_action{
	background:#D6D8DB;
	margin-left: 2%;
	width:auto !important;
	display:inline-block !important;
	padding:0 10px;
	clear: none !important;
}

a.other_action:hover{
	background: #E1E4E8;
}

form.fancy a.cancel{
	clear:none !important;
	background: #E83030;
	margin-left: 2%;
}

form.fancy a.cancel:hover{
	background: #F74545;
}

form.fancy a.editar{
	clear:none !important;
	background: #32AD6F;
	margin-left: 2%;
}

form.fancy a.editar:hover{
	background: #17C46B;
}

label{
	font-size: 13px;
	color:#565656;
	margin-left: 3px;
}

form.fancy input[type=checkbox]{
	float: left;
	margin-bottom: 1%;
}

form.fancy input[type=text].required, select.required, textarea.required{
	border-color:#43A0E8;
}

form.fancy p, p.data{
	width:40%;
	height:30px;
	display: block;
	font-size: 14px;
	float:left;
	margin-right: 5%;
	margin-bottom: 1%;
}

.hidden{
	display: none;
}

.editar_mini, .cancel_mini{
	width:5% !important;
	height:20px !important;
	float:left;
	font-size: 14px;
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color:#ffffff;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	margin-right:3px;
}

.editar_mini{
	background: #32AD6F;
}

.cancel_mini{
	background: #E83030;
}

.editar_mini:hover{
	color: #FFFFFF;
}

.cancel_mini:hover{
	color: #FFFFFF;
}

.add_text{
	color: #32AD6F;
	font-size: 13px;
	display: block;
	clear: left;
	font-weight: bold;
	margin-bottom: 2%;
}

.add_text:hover{
	color: #17C46B;
}

.box_sub{
	margin-bottom: 2%;
}

p.comentario{
	width: 100%;
	display: block;
	clear: both;
	font-size: 13px;
	margin-top:1%;
}

.comentarios{
	width:98%;
	padding: 1%;
	height:auto;
	overflow: hidden;
	background: #EDE8E8;
	margin-bottom: 5px;
}

.alt{
	background: #ffffff;
}

.comment_data{
	width:100%;
	display: block;
	text-align: left;
}

.pagination{
	font-size: 20px;
}

.pagination_current{
	font-size: 20px;
	color:#565656;
}

#buscar{
	width:100%;
	clear:both;
	padding-top:2%;
}

#buscar > form > input[type=submit]{
	width:5% !important;
	height:20px !important;
	float:left;
	font-size: 14px;
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color:#ffffff;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	margin-right:3px;
	background: #32AD6F;
	display: inline;
}

#buscar > form > input[type=submit]:hover{
	color: #FFFFFF;
}


.clickeable{
	cursor:pointer;
}
.container_hidden{
	display: none;
}

div.radio{
	font-size: 12px;
	font-family: arial;
	position: relative;
}

div.radio input[type=radio]{
	display:none;

}

div.radio input[type=radio] + label{
    display: inline-block;
    height: 14px;
    line-height: 14px;
    text-indent: 18px;
    background:url(../../imgs/admin/radio.png) top left no-repeat;
}


div.radio input[type="radio"]:checked + label{
    background-position: left bottom;
}

#container_hidden_resultados p{
	width:15%;
}

#cotizacion_doc{
	width:90%;
}

h1.title_cot{
	font-size: 17px;
	color:#ffffff;
	display: inline-block;
	width:auto;
	clear:both;
	background:#000000;
	padding:5px;
}